* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.3;
  font-weight: 700; }

p {
  font-family: "Raleway", sans-serif;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 14px; }